<header class="header-container">
    <h2>NERDTORE
        <span>©</span>
    </h2>
    <input type="text" placeholder="O que você está procurando?">
    <p>Minha conta</p>
    <i> <span class="material-icons icon">
      local_grocery_store
    </span></i>
</header>

<nav class="header-nav">
    <ul>
        <li>Black Friday<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Camisetas<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Livros<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Presentes<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Cozinha<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Versuário<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Decoração<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Acessórios<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Omelete<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
    </ul>
</nav>

<section class="bf-img">
    <a href="#"><img src="assets\Promocoes\blackFriday.png" alt=""></a>
</section>


<body>

    <section class="flex-layout">
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
        <div><span class="material-icons">
        credit_card
      </span>
            <p>Até 12x sem juros</p>
        </div>
    </section>

    <section class="grid-container">
        <div>
            <a href="#"><img class="promo1" src="assets\Promocoes\promo1.png" alt=""></a>
        </div>
        <div>
            <div>
                <a href="#"><img class="promo2" src="assets\Promocoes\promo2.png" alt=""></a>
            </div>
            <div>
                <a href="#"><img class="promo3" src="assets\Promocoes\promo3.png" alt=""></a>
            </div>
        </div>
    </section>
</body>