<header class="header-container">
    <h2>NERDTORE
        <span>©</span>
    </h2>
    <input type="text" placeholder="O que você está procurando?">
    <p>Minha conta</p>
    <i> <span class="material-icons icon">
      local_grocery_store
    </span></i>
</header>

<nav class="header-nav">
    <ul>
        <li>Black Friday<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Camisetas<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Livros<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Presentes<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Cozinha<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Versuário<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Decoração<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Acessórios<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
        <li>Omelete<i style="vertical-align: middle;" class="material-icons">arrow_drop_down</i></li>
    </ul>
</nav>

<section class="bf-img">
    <a href="#"><img src="assets\Promocoes\blackFriday.png" alt=""></a>
</section>


<body>

    <section class="flex-layout">
        <ul>
            <li><span class="material-icons">credit_card</span>até 12X sem juros</li>
            <li><span class="material-icons"> local_shipping</span>Frete Grátis Brasil</li>
            <li><span class="material-icons">diamond</span>Exclusivos Nerdstore</li>
            <li><span class="material-icons">forward_to_inbox</span>Entrega Rápida</li>
            <li><span class="material-icons">pix</span>Prefira PIX Ganhe 2% OFF</li>
            <li><span class="material-icons">flight_takeoff</span>Vendas Internacionais</li>
        </ul>
    </section>


    <h1 class="promo-title">Promoções de camisetas!</h1>
    <section class="grid-container">
        <div>
            <a href="#"><img class="promo1" src="assets\Promocoes\promo1.png" alt=""></a>
        </div>
        <div>
            <div>
                <a href="#"><img class="promo2" src="assets\Promocoes\promo2.png" alt=""></a>
            </div>
            <div>
                <a href="#"><img class="promo3" src="assets\Promocoes\promo3.png" alt=""></a>
            </div>
        </div>
    </section>

    <div class="gift-promo">
        <a href=""><img src="assets\Promocoes\gift-promo.gif" alt=""></a>
    </div>

    <h1 class="promo-title-2">Suas séries favoritas com descontos MODAFOCAS!</h1>

    <section class="geek-books-promo">

        <div>
            <a href="#"><img src="assets\books\geek-book1.png" alt=""></a>
        </div>


        <div>
            <a href="#"><img src="assets\books\geek-book2.png" alt=""></a>
        </div>

        <div>
            <a href="#"><img src="assets\books\geek-book3.png" alt=""></a>
        </div>

    </section>

    <h1 class="promo-title-3">Escolha seus produtos por faixa de preço!</h1>

    <section class="geek-books-promo price-range">

        <div>
            <a href="#"><img src="assets\books\price-range1.png" alt=""></a>
        </div>

        <div>
            <a href="#"><img src="assets\books\price-range2.png" alt=""></a>
        </div>

        <div>
            <a href="#"><img src="assets\books\price-range3.png" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="assets\books\price-range4.png" alt=""></a>
        </div>

    </section>

    <div class="gift-promo gift2">
        <a href=""><img src="assets\Promocoes\gift-promo2.gif" alt=""></a>
    </div>
</body>
