.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1a1b20;
}

.header-container h2 {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #dd3657;
}

.header-container h2>span {
    vertical-align: super;
    margin: 0;
    padding: 0;
}

.header-container input {
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    background-color: #2b2d35;
    color: white;
}

.header-container p {
    margin-top: 20px;
    color: #dd3657;
    margin-left: 20px;
}

.header-container p>i {
    color: #dd3657;
    margin: 0;
}

.header-container i {
    color: rgb(250, 63, 63);
    margin-left: 20px;
}

.header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #2b2d35;
    height: 28px;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.header-nav ul li {
    margin: 3px 10px 0px 10px;
    color: rgb(135, 135, 150);
    font-size: 0.7rem;
}

.header-nav ul li i {
    padding: 0;
    margin: 0;
}

.bf-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.bf-img img {
    display: flex;
    flex-direction: column;
}

.flex-layout {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 900px;
    height: 45px;
    background-color: #272830;
    border-radius: 6px;
}

.flex-layout ul {
    display: flex;
    flex-direction: row;
}

.flex-layout ul li {
    color: #797d8c;
    list-style: none;
    margin-left: 20px;
    font-size: 0.6rem;
}

.flex-layout span {
    vertical-align: middle;
    color: #797d8c;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.promo-title {
    color: #797d8c;
    margin-top: 80px;
    margin-right: 600px;
    justify-content: end;
    font-weight: 800;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 400px;
    grid-template-rows: 500px;
    margin-right: 36px;
}

.grid-container .promo1 {
    width: 440px;
    border-radius: 10px;
}

.grid-container .promo2 {
    width: 440px;
    border-radius: 10px;
}

.grid-container .promo3 {
    margin-top: 10px;
    width: 440px;
    border-radius: 10px;
}

.gift-promo img {
    max-width: 895px;
    border-radius: 7px;
    margin-left: 5px;
}

.gift2 {
    margin-top: 20px;
}

.promo-title-2 {
    color: #797d8c;
    margin-top: 80px;
    margin-right: 330px;
    font-weight: 800;
}

.geek-books-promo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.geek-books-promo div {
    margin-left: 15px;
}

.geek-books-promo img {
    border-radius: 8px;
    max-width: 290px;
}

.promo-title-3 {
    color: #797d8c;
    margin-top: 80px;
    margin-right: 445px;
    font-weight: 800;
}

.price-range img {
    max-width: 217px;
}
